body {
  background-color: #394549;
}

.App-header{
  background-color: #10151b;
  transform: translateY(-36px);
}

h1 {
  color: #CCF3EE;
  letter-spacing: 7px;
  font-size: 51px;
  text-align: center;
}